@mixin font($weight: normal, $style: normal, $size: 15px, $height: 24px) {
  font-family: 'opensans', sans-serif;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
  line-height: $height;
}
@mixin clearfix() {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}