body {
  width: 320px;
  margin: 0 auto;
  outline: 1px dashed #ff0000;
}

@media #{$tablet-widths} {
  body {
    width: 768px;
  }
}

@media #{$desktop-widths} {
  body {
    position: relative;

    width: 1150px;

    font-size: 0;
  }
}
