$base-green: #63d1bb;
$base-black: #000000;
$text-color: #444444;
$transparent-text-color: rgba(68, 68, 68, 0.3);

//Font-color
$product-card-text-color: $text-color;
$reviews-text-color: $text-color;
$contact-text-color: $text-color;
$video-blog-text-color: $text-color;
$order-form-legend-color: $base-green;
$order-form-text-color-1: $base-black;
$order-form-text-color-2: $transparent-text-color;
$h1-color: $base-black;


$fs-tiny: 13px;
$fs-small: 15px;
$fs-medium: 17px;
$fs-large: 18px;
$fs-huge: 25px;
$h1-font-size: 27px;

$lh-tiny: 16px;
$lh-small: 18px;
$lh-medium: 24px;
$lh-large: 30px;

$mobile-indent: 30px;
