$base-green: #63d1bb;
$text-color: #444444;

$h1-color: #000000;
$h1-font-size: 27px;

$fs-tiny: 13px;
$fs-small: 15px;
$fs-medium: 17px;
$fs-large: 18px;
$fs-huge: 25px;

$lh-tiny: 16px;
$lh-small: 18px;
$lh-medium: 24px;
$lh-large: 30px;

$modile-indent: 30px;
