.about-us {
  outline: 1px dashed #000;
  padding-top: 30px;
}
.about-us__title {
  @include font(25px, 30px);
  font-weight: bold;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
}
.about-us__items {
  list-style: none;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
}
.about-us__item {
  @include font(17px, 20px);
  font-weight: bold;
  padding-top: 85px;

  &--flower-icon {
    background-image: url(../img/icon-feature-1.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--tangle-icon {
    background-image: url(../img/icon-feature-2.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--photo-icon {
    background-image: url(../img/icon-feature-3.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--rocket-icon {
    background-image: url(../img/icon-feature-4.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--heart-icon {
    background-image: url(../img/icon-feature-5.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--gift-icon {
    background-image: url(../img/icon-feature-6.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }
}
