.about-us {
  padding-top: 30px;
}
.about-us__title {
  @include font($lh-large, $lh-large);

  padding: 0 $mobile-indent;
  margin: 0;

  font-weight: bold;
}
.about-us__items {
  padding: 0 $mobile-indent;
  margin: 0;

  list-style: none;
}
.about-us__item {
  @include font($fs-medium, 20px);

  padding-top: 85px;

  font-weight: bold;

  &--flower-icon {
    background-image: url(../img/icon-feature-1.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--tangle-icon {
    background-image: url(../img/icon-feature-2.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--photo-icon {
    background-image: url(../img/icon-feature-3.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--rocket-icon {
    background-image: url(../img/icon-feature-4.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--heart-icon {
    background-image: url(../img/icon-feature-5.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }

  &--gift-icon {
    background-image: url(../img/icon-feature-6.svg);
    background-repeat: no-repeat;
    background-position: 5px 30px;
  }
}

//  Tablet

@media #{$tablet-widths} {
  .about-us {
    @include clearfix();

    padding: 57px $tablet-indent 70px;

    font-size: 0;
  }
  .about-us__title {
    @include font($tablet-h-font-size, $tablet-h-line-height);

    padding: 0;
  }
  .about-us__items {
    padding: 0;

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }
  }
  .about-us__item {
    width: 334px;
    padding-right: 35px;
    box-sizing: border-box;

    font-size: 20px;
  }
}

// Desktop

@media #{$desktop-widths} {
  .about-us {
    padding: 67px $desktop-big-indent 80px;
  }
  .about-us__title {
    @include font($desktop-h-font-size, $desktop-h-line-height);
  }
}
