.catalog {
  outline: 1px dashed #1bb353;

  padding-bottom: 58px;
}
.catalog__title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 75px;

  @include font ($h1-font-size, $lh-large);
  color: $h1-color;
  font-weight: bold;
  text-align: center;

  background-color: #f1f1f1;
}

//  Tablet

@media #{$tablet-widths} {
  .catalog {
    @include tablet-indent();
  }
  .catalog__title {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 80px;
    padding-top: 100px;

    @include font ($tablet-h-font-size, $tablet-h-line-height);
  }
}

//  PK

@media #{$desktop-widths} {
  .catalog {
    @include tablet-indent();
  }
  .catalog__title {
    padding-bottom: 90px;

    @include font ($desktop-h-font-size, $desktop-h-line-height);
  }
}
