.checkbox-module__title {
  padding-bottom: 35px;

  @include font ($fs-medium, $lh-tiny);
  font-weight: bold;
  color: $order-form-legend-color;
  text-transform: uppercase;
}
.checkbox-module__label {
  display: block;
  padding-bottom: 40px;
  padding-left: 60px;

  @include font ($fs-medium, $lh-small);
  color: $order-form-text-color-1;
  font-weight: bold;
}

//  Tablet

@media #{$tablet-widths} {
  .checkbox-module__title {
    position: absolute;
    left: 50px;
    top: 67px;
  }
  .checkbox-module__input {
    display: none;
  }
  .checkbox-module__label {
    display: inline-block;
    width: 250px;
    padding: 0;
    padding-left: 80px;
    padding-top: 17px;
    box-sizing: border-box;

    font-size: 19px;
  }
}

//  PK

@media #{$desktop-widths} {
  .checkbox-module {
    padding-right: $desktop-small-indent;
  }
  .checkbox-module__title {
    left: 110px;
  }
  .checkbox-module__label {
    width: 245px;
    padding: 0;
    padding-left: 80px;
    padding-top: 17px;
    box-sizing: border-box;
  }
}
