.checkbox-module__title {
  @include font (17px, 16px);
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  padding-bottom: 35px;
}
.checkbox-module__label {
  @include font (17px, 18px);
  font-weight: bold;
  display: block;
  padding-bottom: 40px;
  padding-left: 60px;
}
.checkbox-module__input {
  //    display: none;
}
