.contact {
  outline: 1px dashed #000;

  padding-top: 45px;
  padding-bottom: 40px;
}
.contact__title {
  @include mobile-indent();
  @include font ($fs-large, $lh-large);

  margin: 0;

  font-weight: bold;
}
.contact__info {
  @include mobile-indent();
  @include font ($fs-large, $lh-large);

  margin: 0;

  font-weight: bold;
}
.contact__field {
  @include font ($fs-small, $lh-large);

  margin: 0;

  color: $contact-text-color;
}
.contact__value {
  @include font ($fs-small, $lh-large);

  margin: 0;

  color: $contact-text-color;
}
