.contact {
  padding: 45px 0 0;
  border-top: 2px solid #000;
}
.contact__title {
  @include font ($fs-large, $lh-large);

  padding: 0 $mobile-indent;
  margin: 0;

  font-weight: bold;
}
.contact__info {
  @include font ($fs-large, $lh-large);

  padding: 0 $mobile-indent;
  margin: 0;

}
.contact__field {
  @include font ($fs-small, $lh-large);

  width: 70px;
  margin: 0;

  color: $contact-text-color;
}
.contact__value {
  @include font ($fs-small, $lh-large);
  margin: 0;

  color: $contact-text-color;
}

//  Tablet

@media #{$tablet-widths} {
  .contact {
    background-image: url(../img/icon-flag.svg);
    background-repeat: no-repeat;
    background-position: 95% 50px;
  }
  .contact__title {
    @include font($tablet-h-font-size, $tablet-h-line-height);

    padding: 0 $tablet-indent 60px;
  }
  .contact__info {
    display: block;
    padding: 0 $tablet-indent;

    font-size: 0;
  }
  .contact__info tbody {
    display: block;
  }
  .contact__info tr {
    display: inline-block;
    width: 334px;

    vertical-align: top;
  }
  .contact__field {
    @include font($fs-medium, $lh-large);

    width: 70px;
    padding: 0;
    display: inline-block;

    vertical-align: top;
  }
  .contact__value {
    @include font($fs-medium, $lh-large);

    padding: 0;
    display: inline-block;
    width: 230px;

    vertical-align: top;
  }
}

// Desktop

@media #{$desktop-widths} {
  .contact {
    position: relative;

    padding: 80px 50px 105px $desktop-big-indent;

    vertical-align: top;

    background-position: 110px 130px;
  }
  .contact__title {
    @include font($desktop-h-font-size, $desktop-h-line-height);

    width: 300px;
    padding: 90px 0 60px;

  }
  .contact__info {
    width: 300px;
    padding: 0 0 140px;
  }
}
