.contact {
  outline: 1px dashed #000;
  padding-top: 45px;
  padding-bottom: 40px;
}
.contact__title {
  @include font ($fs-large, $lh-large);
  font-weight: bold;
  margin: 0;
  margin-left: $modile-indent;
  margin-right: $modile-indent;
}
.contact__info {
  @include font ($fs-large, $lh-large);
  font-weight: bold;
  margin: 0;
  margin-left: $modile-indent;
  margin-right: $modile-indent;
}
.contact__field {
  @include font ($fs-small, $lh-large);
  color: $text-color;
  margin: 0;
}
.contact__value {
  @include font ($fs-small, $lh-large);
  color: $text-color;
  margin: 0;
}
