.main-nav {
  background-color: transparent;
}
.main-nav__items {
  padding-left: 0;
  margin: 0;

  font-size: 0;

  &:nth-of-type(2) {
    display: none;
  }
}
.main-nav__item {
  padding-top: 29px;
  padding-bottom: 26px;

  list-style: none;

  border-bottom: 1px solid #ececec;
}
.main-nav__link {
  @include font($fs-medium);

  padding-left: 75px;

  font-weight: bold;
  text-decoration: none;
  color: #000;

  &--search {
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 30px 50%;
  }
  &--basket {
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 30px 50%;
  }
}
.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-menu-open.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
  border: none;
}
.main-nav__description {
  display: none;
}

//  Tablet

@media #{$tablet-widths} {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .main-nav__items {
    background-color: #fff;

    &:first-of-type {
      order: 3;
      display: flex;
      width: 60%;
      padding-top: 24px;

      border: none;

      background-color: transparent;
      border-top: 1px solid #e7e7e7;

      a {
        display: inline-block;
        width: 167px;
        padding: 0;

        font-size: $fs-small;
      }
    }

    &:nth-of-type(2) {
      display: none;
    }

    &:last-of-type {
      order: 2;

      display: flex;
      margin-left: auto;
    }
  }
  .main-nav__item {
    padding: 0;
    border: none;

  }
  .main-nav__toggle {
    display: none
  }
  .main-nav__link {

    &--search {
      display: inline-block;
      padding: 34px 40px 31px;

      vertical-align: top;
      font-size: 0;

      background-position: 50% 50%;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
    }

    &--basket {
      display: inline-block;
      padding: 34px 0 31px 80px;

      vertical-align: top;

      background-position: 30px 50%;
    }
  }
  .main-nav__description {
    @include font($fs-small, $lh-medium);

    display: block;
    order: 4;
    width: 40%;
    margin: 0 0 0 auto;
    padding-top: 24px;

    color: $text-color;
    text-align: right;

    border-top: 1px solid #e7e7e7;
  }
}

// Desktop

@media #{$desktop-widths} {
  .main-nav {
    justify-content: space-between;

  }
  .main-nav__items {


    &:first-of-type {
      order: 1;
      padding: 0;
      width: auto;

      background-color: #fff;
      border: none;

      a {
        font-size: $fs-medium;
      }
    }

    &:nth-of-type(2) {
      order: 4;
      display: block;
      width: 60%;
      padding: 24px 0 0 0;

      background-color: transparent;
      border-top: 1px solid #e7e7e7;

      a {
        padding: 0;
        width: 175px;

        font-size: $fs-small;
      }
    }

    &:last-of-type {
      order: 3;
      margin: 0;
    }

  }
  .main-nav__item {
    display: inline-block;
    padding: 0;

    vertical-align: top;

  }
  .main-nav__toggle {
    display: none
  }
  .main-nav__link {
    display: inline-block;

    vertical-align: top;
  }
  .main-nav__description {
    @include font($fs-small, $lh-medium);

    order: 5;

    color: $text-color;
  }
}
