.main-nav {
  background-color: #fff;
  &--open {
    //    position: absolute;
    //    top: 0;
    //    z-index: 1;
    //    width: 320px;
  }
}
.main-nav__items {
  padding-left: 0;
  margin: 0;

  font-size: 0;
  display: none;

  &--no-js {
    display: block;
  }
  &--open {
    //        display: block;
  }
}
.main-nav__items-news {
  display: none;
}
.main-nav__item {
  padding-top: 29px;
  padding-bottom: 26px;

  list-style: none;

  border-bottom: 1px solid #ececec;
}
.main-nav__link {
  @include font($fs-medium);
  position: relative;

  padding-left: 75px;

  font-weight: bold;
  text-decoration: none;
  color: #000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3
  }
}
.main-nav__icon-search {
  position: absolute;
  left: 30px;
  top: 50%;

  fill: #d3d2d2;

  transform: translateY(-50%);
}
.main-nav__icon-cart {
  position: absolute;
  left: 30px;
  top: 50%;

  fill: #d3d2d2;

  transform: translateY(-50%);
}


.main-nav__link--search:hover {
  .main-nav__icon-search {
    opacity: 1;
    fill: $base-green;
  }
}
.main-nav__link--basket:hover {
  .main-nav__icon-cart {
    opacity: 1;
    fill: $base-green;
  }
}
.main-nav__link:active .main-nav__icon-search,
.main-nav__link:active .main-nav__icon-cart {
  fill: $base-green;
}

.main-nav__toggle {
  position: absolute;
  top: 19px;
  right: 30px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-menu-open.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
  border: none;

  &--no-js {

    //    background-image: url(../img/icon-menu-close.svg);
  }
  &--open {

    background-image: url(../img/icon-menu-close.svg);
  }
}
.main-nav__description {
  display: none;
}

//  Tablet

@media #{$tablet-widths} {
  .main-nav {
    display: flex;
    flex-wrap: wrap;

    background-color: transparent;
  }
  .main-nav__items {
    background-color: #fff;
    display: flex;
    align-items: center;

    border: none;
  }
  .main-nav__items-assortment {
    order: 3;
    display: flex;
    width: 60%;
    padding: 16px 0 0 $tablet-indent;
    box-sizing: border-box;

    background-color: #f1f1f1;
    border-top: 1px solid #e7e7e7;

    li {
      width: 167px;
    }
    a {
      font-size: $fs-small;
    }

    &--background-transparent {
      background-color: transparent;
    }
  }
  .main-nav__items-news {
    display: none;
  }
  .main-nav__items-user {
    order: 2;
    width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    padding: 0 $tablet-indent 0 0;
  }

  .main-nav__item {
    padding: 0;
    border: none;

    &--border {
      align-self: stretch;
      display: flex;

      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }

  }
  .main-nav__toggle {
    display: none
  }
  .main-nav__link {
    padding: 0;

    &--search {
      padding: 0;
      margin: 0 41px;

      font-size: 0;
    }

    &--basket {
      display: block;
      padding: 0 0 0 83px;
      margin-top: 31px;
      margin-bottom: 33px;
    }
  }
  .main-nav__icon-search {
    left: 50%;

    transform: translate(-50%, -50%);

  }
  .main-nav__description {
    @include font($fs-small, $lh-medium);

    display: block;
    order: 4;
    width: 40%;
    margin: 0 0 0 auto;
    padding: 16px $tablet-indent 0 0;
    box-sizing: border-box;

    color: $text-color;
    text-align: right;

    background-color: #f1f1f1;
    border-top: 1px solid #e7e7e7;

    &--background-transparent {
      background-color: transparent;
    }
  }
}

// Desktop

@media #{$desktop-widths} {
  .main-nav {
    justify-content: space-between;
  }
  .main-nav__items-assortment {
    order: 1;
    padding: 0 0 0 $tablet-indent;
    width: auto;

    background-color: #fff;
    border: none;

    li:first-of-type {
      align-self: stretch;
      display: flex;
      width: 184px;
      margin-right: 35px;

      border-right: 1px solid $border-color;
    }
    a {
      align-self: center;
      font-size: $fs-medium;
    }

    &--background-transparent {
      background-color: #fff;
    }
  }
  .main-nav__items-news {
    order: 4;
    display: flex;
    width: 60%;
    padding: 16px 0 0 50px;
    box-sizing: border-box;

    background-color: #f1f1f1;
    border-top: 1px solid #e7e7e7;

    li {
      width: 184px;
      margin-right: 35px;
    }
    a {
      font-size: $fs-small;
    }
    &--background-transparent {
      background-color: transparent;
    }
  }
  .main-nav__items-user {
    order: 3;
    margin: 0;
  }
  .main-nav__toggle {
    display: none
  }
  .main-nav__description {
    @include font($fs-small, $lh-medium);

    order: 5;

    color: $text-color;
  }
}
