.map {
  outline: 1px dashed #000;

  padding-bottom: 39px;
}
.map__container {
  height: 457px;

  background-image:
    url(../img/icon-map-pin.svg),
    url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat no-repeat;
  background-position: 50% 50%, 0 0;
}
.map__btn {
  @include mobile-indent();

  margin-top: 39px;
  padding-top: 16px;
  padding-bottom: 16px;
}

//  Tablet

@media #{$tablet-widths} {
  .map {
    padding-bottom: 57px;
  }
  .map__container {
    background-color: #b5ad39;
  }
  .map__btn {
    display: block;
    width: 226px;
    padding: 0;
    margin: 0 auto;
    margin-top: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

// Desktop

@media #{$desktop-widths} {
  .map {
    position: relative;

    display: inline-block;
    width: 525px;
    padding-right: 50px;
    padding-bottom: 105px;
    padding-top: 70px;

    vertical-align: top;
  }
  .map__container {
    background-color: #b5ad39;
  }
  .map__btn {
    position: absolute;
    left: -350px;
    bottom: 105px;

    display: block;
    width: 226px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
