.map {
  padding: 39px 0 39px;
}
.map__container {
  height: 457px;

  background-image:
    url(../img/icon-map-pin.svg),
    url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat no-repeat;
  background-position: 50% 50%, 0 0;
}
.map__btn {
  display: block;
  width: 260px;
  padding: 16px 10px;
  margin: 39px auto 0;
  box-sizing: border-box;
}

//  Tablet

@media #{$tablet-widths} {
  .map {
    padding-bottom: 57px;
  }
  .map__container {
    background-color: #b5ad39;
  }
  .map__btn {
    width: 230px;
    margin-top: 55px;

  }
}

// Desktop

@media #{$desktop-widths} {
  .map {
    position: absolute;
    bottom: 105px;
    right: 50px;

    display: inline-block;
    width: 525px;
    padding: 0;

    vertical-align: top;
  }
  .map__container {
    background-color: #b5ad39;
  }
  .map__btn {
    position: absolute;
    left: -350px;
    bottom: 0;

    display: block;
    width: 226px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
