.map {
  padding: 39px 0 0;
}
.map__container {
  height: 457px;

  background-image:
    url(../img/icon-map-pin.svg),
    url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat no-repeat;
  background-position: 50% 50%, 0 0;
}


//  Tablet

@media #{$tablet-widths} {
  .map__container {
    background-color: #b5ad39;
  }
}

// Desktop

@media #{$desktop-widths} {
  .map {
    position: absolute;
    bottom: 105px;
    right: 50px;

    width: 525px;
    padding: 0;
  }
  .map__container {
    background-color: #b5ad39;
  }
}
