.order-form {
  outline: 1px dashed #000;
  padding-bottom: 55px;
}
.order-form__title {
  @include font ($h1-font-size, $lh-large);
  color: $h1-color;
  font-weight: bold;
  text-align: center;
  background-color: #f1f1f1;
  margin: 0;
  padding-top: 75px;
  padding-bottom: 75px;
}
.order-form__description {
  @include font ($fs-tiny, $lh-medium);
  @include mobile-indent();
  color: $text-color;
  margin: 0;
//  margin-left: $mobile-indent;
//  margin-right: $mobile-indent;
  padding-top: 30px;
  padding-bottom: 30px;
}
.order-form__item {
  @include mobile-indent();
  outline: 1px dashed #ff0000;
  border: none;
  margin: 0;
//  margin-left: $mobile-indent;
//  margin-right: $mobile-indent;
  padding: 0;
}
.order-form__required {
  @include font (14px, $lh-tiny);
  @include mobile-indent();
  color: $text-color;
  margin: 0;
//  margin-left: $mobile-indent;
//  margin-right: $mobile-indent;
}
.order-form__btn {
  @include font($fs-medium, $lh-tiny);
  @include mobile-indent();
  font-weight: bold;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 18px;
//  margin-left: $mobile-indent;
//  margin-right: $mobile-indent;
  margin-top: $mobile-indent;
}
