.our-products {
  outline: 1px dashed #000;

  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.our-products__slogan {
  @include font($h1-font-size, $lh-large);
  @include mobile-indent();

  padding-top: 75px;
  padding-bottom: 120px;
  margin: 0;

  color: $h1-color;
  font-weight: bold;
  text-align: center;
}
.our-products__link {
  @include font(19px, $lh-medium);

  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: $mobile-indent;
  padding-right: 160px;

  font-weight: bold;
  color: #fff;
  text-decoration: none;

  background-color: #63d1bb;
  background-image: url(../img/icon-interior.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.our-products__link:nth-of-type(2) {
  background-color: #56c3b2;
  background-image: url(../img/icon-toy.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
