.our-products {
  font-size: 0;


  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;

}
.our-products__slogan {
  @include font($h1-font-size, $lh-large);

  padding: 75px $mobile-indent 120px;
  margin: 0;

  color: $h1-color;
  font-weight: bold;
  text-align: center;
}
.our-products__link {
  @include font(19px, $lh-medium);

  display: inline-block;
  padding: 30px 160px 30px $mobile-indent;

  font-weight: bold;
  color: #fff;
  text-decoration: none;
  vertical-align: top;

  background-color: #63d1bb;
  background-image: url(../img/icon-interior.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;

}
.our-products__link:nth-of-type(2) {
  background-color: #56c3b2;
  background-image: url(../img/icon-toy.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

//  Tablet

@media #{$tablet-widths} {
  .our-products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $tablet-indent;
    margin-top: -32px;

    background-size: cover;
  }
  .our-products__slogan {
    @include font($tablet-h-font-size, $tablet-h-line-height);

    padding: 160px 0 370px;
    margin: 0 80px;
  }
  .our-products__link {
    width: 50%;
    box-sizing: border-box;

    @include font(20px, $lh-large);
  }
}

// Desktop

@media #{$desktop-widths} {
  .our-products__slogan {
    @include font($desktop-h-font-size, $desktop-h-line-height);

    margin: 0 $desktop-small-indent;
  }
  .our-products__link {
    padding-right: 350px;
  }
}
