.our-products {
  font-size: 0;
}
.our-products__slogan {
  @include font($h1-font-size, $lh-large);

  padding: 70px $mobile-indent 122px;
  margin: 0;

  color: $h1-color;
  font-weight: bold;
  text-align: center;
}
.our-products__link {
  @include font(19px, $lh-medium);

  display: inline-block;
  padding: 26px 160px 29px $mobile-indent;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  vertical-align: top;

  background-color: $base-green;
  background-image: url(../img/icon-interior.svg);
  background-repeat: no-repeat;
  background-position: 87% 50%;

}
.our-products__link:nth-of-type(2) {
  background-color: #56c3b2;
  background-image: url(../img/icon-toy.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

//  Tablet

@media #{$tablet-widths} {
  .our-products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $tablet-indent;
  }
  .our-products__slogan {
    @include font($tablet-h-font-size, $tablet-h-line-height);

    padding: 114px 0 372px;
    margin: 0 80px;
  }
  .our-products__link {
    width: 50%;
    padding: 29px 160px 30px 36px;
    box-sizing: border-box;

    @include font(20px, $lh-large);
  }
}

// Desktop

@media #{$desktop-widths} {
  .our-products__slogan {
    @include font($desktop-h-font-size, $desktop-h-line-height);

    padding-bottom: 358px;
    margin: 0 $desktop-small-indent;
  }
  .our-products__link {
    padding-right: 350px;
  }
}
