.page-header {
  background-color: #f1f1f1;
  &--background-index {
    background-color: #f9f9f9;
    //  background-image: linear-gradient(to bottom, #fff, #fff 69px, #ececec 69px, #ececec 70px, #f9f9f9 70px, #f9f9f9);
  }
}
.page-header__container {
  position: relative;

  width: 320px;
  margin: 0 auto;



  &--background-index {
    background-image: url(../img/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 61px;
  }
  &--no-js {
    background-position: 50% 390px;
  }
}
.page-header__logo {
  padding-top: 15px;
  padding-bottom: 18px;

  text-align: center;
  line-height: 0;

  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  background-color: #fff;
}
.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}
.page-header__logo-mobile {
  display: inline-block;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  &--hvr-disabled {
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
}
@media (max-width: 767px) and (min-resolution: 144dpi),
  (max-width: 767px) and (min-resolution: 1.5dppx) {
    .page-header {
      &--background-index {
        background-image: url(../img/hero-mobile@2x.jpg);
        background-size: 575px auto;
      }
    }
}

//  Tablet

@media #{$tablet-widths} {
  .page-header__container {
    width: 768px;

    &--background-index {
      background-image: url(../img/hero-desktop@1x.jpg);
      background-position: 50% 88px;
    }
    &--no-js {
      background-position: 50% 88px;
    }
  }
  .page-header__logo {
    order: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 167px;
    padding: 0 0 0 $tablet-indent;

    text-align: left;

    border: none;
  }
  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }
  .page-header__logo-tablet {
    display: block;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &--hvr-disabled {
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: 1;
      }
    }
  }
  @media (min-width: 768px) and (min-resolution: 144dpi),
    (min-width: 768px) and (min-resolution: 1.5dppx) {
      .page-header {
        &--background-index {
          background-image: url(../img/hero-desktop@2x.jpg);
          background-size: 1150px auto;
        }
      }
  }
}
// Desktop

@media #{$desktop-widths} {
  .page-header__container {
    width: 1150px;
  }
  .page-header__logo {
    order: 2;
    padding: 0;
    justify-content: center;
  }
  .page-header__logo-mobile,
  .page-header__logo-tablet {
    display: none;
  }
  .page-header__logo-desktop {
    display: block;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &--hvr-disabled {
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}
