.page-footer {
  outline: 1px dashed #000;

  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  background-color: #f1f1f1;
}
.page-footer__social {
  display: block;

  font-size: 0;
}
.page-footer__copyright {
  @include font (19px, $lh-small);

  margin: 0;
  margin-top: 30px;

  font-weight: bold;
}
.page-footer__copyright-link {
  display: inline-block;
  width: 33px;
  height: 38px;
  margin-top: -5px;
  margin-left: 10px;

  font-size: 0;
  vertical-align: top;

  background-image: url(../../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
}
