.page-header {
  position: relative;

  background-color: transparent;
}
.page-header__logo {
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  line-height: 0;

  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  background-color: #fff;
}

//  Tablet

@media #{$tablet-widths} {
  .page-header {
    padding: 0 $tablet-indent;
  }
  .page-header__logo {
    order: 1;
    align-self: center;
    width: 167px;
    padding: 0;

    border: none;
  }
}

// Desktop

@media #{$desktop-widths} {
  .page-header {
    padding: 0 $tablet-indent;
  }
  .page-header__logo {
    order: 2;
  }
}
