.product-card {
  display: flex;
  flex-direction: column;

  margin: $mobile-indent $mobile-indent 0;

  border: 1px solid $border-color;
}
.product-card__image {
  line-height: 0;
  overflow: hidden;
}
.product-card__info {
  margin: 0;
  padding: 0 28px;
}
.product-card:hover .product-card__info {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.product-card:active .product-card__info {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.product-card__item {
  @include font ($fs-medium, $lh-medium);

  margin: 26px 0 0;

  font-weight: bold;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
.product-card__item a {
  margin: 0;

  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.product-card__description {
  @include font ($fs-tiny, $lh-large);

  margin: 0;
  padding: 5px 0 19px;

  color: $product-card-text-color;
}
.product-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;


  border-top: 1px solid $border-color;
}
.product-card__price {
  @include font ($fs-small, $lh-medium);

  margin: 0;
  padding: 21px 0 27px;

  font-weight: bold;
}

.product-card__icon-cart {
  opacity: 0.2;

  &:hover {
    fill: #63d1bb;
    opacity: 1;
  }
  &:active {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

//  Tablet

@media #{$tablet-widths} {
  .product-card {
    flex-direction: row;
    padding: 0;
    margin: 0 $tablet-indent 52px;
  }
  .product-card__image {
    flex-shrink: 0;
    width: 334px;
    height: 334px;
    padding: 0;

    font-size: 0;

    background-color: #efefef;
  }
  .product-card__image img {
    width: 100%;
  }
  .product-card__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0 33px 0 26px;
  }

  .product-card__item {
    margin-top: 25px;
    padding-right: 35px;
    a {
      font-size: 20px;
    }
  }
  .product-card__description {
    font-size: 15px;
    padding-top: 4px;
  }
  .product-card__wrapper {
    margin-top: auto
  }
  .product-card__price {
    font-size: 17px;
    margin-left: 5px;
  }
  .product-card__buy {
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .product-card {
    &:hover {
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    }
    &:active {
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    }
  }
  .product-card:hover .product-card__info {
    box-shadow: none;
  }
  .product-card:active .product-card__info {
    box-shadow: none;
  }
}
// Desktop

@media #{$desktop-widths} {
  .product-card {
    flex-direction: column;
    width: 315px;
    margin: 0 0 54px;

    &:first-of-type {
      margin-left: 50px;
    }
    &:nth-of-type(3n) {
      margin-right: 50px;
    }
  }
  .product-card__item {
    padding-right: 25px;
  }
  .product-card__image {
    width: 315px;
    min-height: 462px;
  }
  .product-card__description {
    padding-bottom: 13px;
  }
  .product-card__price {
    margin: 0;
  }
}
