.radio-module__title {
  @include font ($fs-medium, $lh-tiny);
  font-weight: bold;
  color: $order-form-legend-color;
  text-transform: uppercase;
  padding-bottom: 35px;
}
.radio-module__label {
  @include font ($fs-medium, $lh-small);
  color: $order-form-text-color-1;
  font-weight: bold;
  display: block;
  padding-bottom: 35px;
  padding-left: 60px;
}
.radio-module__input {
  //    display: none;
}
