.reviews {
  position: relative;

  padding: 55px 0 50px;

  font-size: 0;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    height: 7px;
    width: 100%;
    background-image: url(../../img/bg-zigzag-line.svg);
    background-size: contain;

  }
}
.reviews__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 $mobile-indent;
  box-sizing: border-box;
}
.reviews__title {
  @include font ($fs-huge, $lh-large);

  margin: 0;

  font-weight: bold;
}
.reviews__item {
  @include font ($fs-small, $lh-large);

  margin: 0;
  padding-bottom: 29px;

  color: $reviews-text-color;
  p {
    margin: 24px 0;
  }
}
.reviews__author-name {
  @include font ($fs-large, $lh-medium);

  font-weight: bold;
  font-style: normal;
  color: #000;
}
.reviews__author-link {
  @include font ($fs-large, $lh-large);

  color: $reviews-text-color;
  text-decoration: none;
}
.reviews__prev {
  height: 50px;
  width: 128px;
  padding: 0;

  font-size: 0;

  background-color: #fff;
  border: 1px solid #ececec;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  &:focus {
    outline: none;
  }
}
.reviews__next {
  height: 50px;
  width: 130px;
  padding: 0;

  font-size: 0;

  background-color: #fff;
  border: 1px solid #ececec;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  &:focus {
    outline: none;
  }
}
.reviews__write {
  display: block;
  padding: 16px 10px 16px;
  margin-top: 40px;
  box-sizing: border-box;
}

//  Tablet

@media #{$tablet-widths} {
  .reviews {
    padding: 40px 0 85px;

    &:after {
      height: 15px;
    }
  }
  .reviews__container {
    position: relative;

    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 38px $tablet-indent 0;

    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;

  }
  .reviews__title {
    @include font($tablet-h-font-size, $tablet-h-line-height);

    align-self: center;
    padding: 40px 0 40px;

  }
  .reviews__wrapper {
    position: relative;

    width: 100%;
    order: 1;
    padding: 7px 0 48px;

    p {
      margin: 0;
    }
  }
  .reviews__item {
    padding: 0;
    margin: 0;

    font-size: $fs-medium;
  }
  .reviews__author-name {
    display: block;
    padding-top: 10px;
    margin-right: 167px;
    margin-top: 47px;

  }
  .reviews__control {
    position: absolute;
    right: 7px;
    bottom: 49px;
  }
  .reviews__prev,
  .reviews__next {
    width: 80px;

    border: none;
  }
  .reviews__write {
    align-self: center;
    width: 175px;
    margin: 0;
  }
  @media (min-width: 768px) and (min-resolution: 144dpi),
    (min-width: 768px) and (min-resolution: 1.5dppx) {
      background-image: url(../img/review@2x.jpg);
      background-size: 350px auto;
  }
}

// Desktop

@media #{$desktop-widths} {
  .reviews {
    padding: 0;

    &:after {
      height: 23px;
    }
  }
  .reviews__container {
    width: 1150px;
    padding: 31px 50px 140px $desktop-big-indent;

    background-position: 50px 0;
  }
  .reviews__item {
    padding-right: 100px;
  }
  .reviews__title {
    @include font($desktop-h-font-size, $desktop-h-line-height);
  }
  .reviews__wrapper {
    padding-top: 8px;
  }
  .reviews__author-name {
    margin-top: 28px;
  }
}
