.reviews {
  outline: 1px dashed #000;
  padding-top: 55px;
  padding-bottom: 44px;
  font-size: 0;
}
.reviews__title {
  @include font (25px, 30px);
  font-weight: bold;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
}
.reviews__item {
  @include font (15px, 30px);
  color: #444444;
}
.reviews__author-name {
  @include font (18px, 24px);
  font-weight: bold;
  color: #000;
}
.reviews__author-link {
  @include font (18px, 30px);
  color: #444444;
}
.reviews__prev {
  padding: 0;
  margin-left: 30px;
  background-image: url(../img/icon-left-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
  border: 1px solid #ececec;
  font-size: 0;
  height: 50px;
  width: 128px;
}
.reviews__next {
  padding: 0;
  margin-right: 30px;
  background-image: url(../img/icon-right-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
  border: 1px solid #ececec;
  font-size: 0;
  height: 50px;
  width: 128px;
}
.reviews__write {
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 38px;
}
