.social-link {

  height: 35px;
  width: 35px;

  font-size: 0;
}
.social-link__icon-insta {
  &:hover {
    fill: $hover-green;
  }
  &:active {
    fill: $hover-green;
    opacity: 0.3;
  }
}
.social-link__icon-fb {
  &:hover {
    fill: $hover-green;
  }
  &:active {
    fill: $hover-green;
    opacity: 0.3;
  }
}
.social-link__icon-twitter {
  &:hover {
    fill: $hover-green;
  }
  &:active {
    fill: $hover-green;
    opacity: 0.3;
  }
}
