.special-product-card {
  padding: $mobile-indent $mobile-indent 35px;

  background-color: #fff;
  border-bottom: 1px solid #000;
}
.special-product-card__title {
  @include font($lh-large, $lh-large);

  margin: 0;

  font-weight: bold;
}
.special-product-card__promo-title {
  @include font($fs-medium, $lh-tiny);

  margin: 5px 0 0;

  font-weight: bold;
  color: $base-green;
}
.special-product-card__description {
  @include font($fs-small, $lh-medium);

  margin: 20px 0 0;

  color: $product-card-text-color;
}
.special-product-card__features {
  @include font($fs-small, 20px);

  margin-top: 30px;

  color: $product-card-text-color;
}
.special-product-card__image {
  margin-top: 25px;

  line-height: 0;
}
.special-product-card__price {
  @include font($fs-medium, $lh-medium);

  font-weight: bold;
  color: $product-card-text-color;
  text-align: center;
}
.special-product-card__buy {
  display: block;
  width: 260px;
  padding: 16px 10px;

  box-sizing: border-box;
}

//  Tablet

@media #{$tablet-widths} {
  .special-product-card {
    position: relative;

    padding: 52px $tablet-indent;

    font-size: 0;
  }
  .special-product-card__title {
    @include font($tablet-h-font-size, $tablet-h-line-height);

    display: inline-block;
    padding: 0;
    padding-bottom: 40px;

    vertical-align: top;
  }
  .special-product-card__promo-title {
    float: right;

    width: 100px;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 60px;

    text-align: center;
  }
  .special-product-card__description {
    @include font($fs-medium, $lh-large);

    width: 334px;
    margin: 0;
    padding: 0 55px 0 0;
    box-sizing: border-box;
  }
  .special-product-card__features {
    width: 334px;
    padding: 0;
  }
  .special-product-card__image {
    position: absolute;
    bottom: 52px;
    right: $tablet-indent;

    width: 334px;
    margin: 0;
    padding: 0;
  }
  .special-product-card__image img {
    width: 100%;
  }
  .special-product-card__price {
    @include font(20px, $lh-medium);

    width: 334px;
    padding: 34px 44px 34px 0;
    box-sizing: border-box;

  }
  .special-product-card__buy {
    width: 292px;
  }
}

// Desktop

@media #{$desktop-widths} {
  .special-product-card {
    padding: 132px 50px 73px $desktop-big-indent;
  }
  .special-product-card__title {
    @include font($desktop-h-font-size, $desktop-h-line-height);

    position: relative;
    z-index: 1;
  }
  .special-product-card__promo-title {
    float: left;

    margin-left: -130px;
  }
  .special-product-card__description {
    @include font($fs-medium, $lh-large);
    padding-top: 20px;

    width: 350px;
  }
  .special-product-card__features {
    width: 350px;
  }
  .special-product-card__image {
    bottom: 73px;

    width: 525px;

    img {
      width: 100%;
    }
  }
  .special-product-card__price {
    width: 292px;

    padding-top: 120px;
  }
}
