.tel-module__title {
  @include font ($fs-medium, $lh-tiny);
  font-weight: bold;
  color: $order-form-legend-color;
  text-transform: uppercase;
  padding-bottom: 19px;
  padding-top: 25px;
}
.tel-module__input {
  @include font ($fs-medium, $lh-small);
  color: $order-form-text-color-2;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-image: url(../../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
