.textarea-module {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-indent 18px;
}
.textarea-module__title {
  @include font ($fs-medium, $lh-tiny);

  padding-bottom: 20px;
  margin: 0;

  font-weight: bold;
  color: $order-form-legend-color;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 30px;
    top: 6px;
    height: 1px;
    width: 198px;
    background-color: $base-green;

  }
}
.textarea-module__field {
  @include font ($fs-medium, $lh-small);

  flex-grow: 1;
  padding-bottom: 10px;

  color: $order-form-text-color-2;
  border: 2px solid #000;
}

//  Tablet

@media #{$tablet-widths} {
  .textarea-module {
    flex-direction: row;
    justify-content: flex-start;

    padding: 50px $tablet-indent 0;
  }
  .textarea-module__title {
    width: 167px;
    padding: 10px 0 0;

    &:after {
      display: none;
    }
  }
  .textarea-module__field {
    flex-grow: 1;

    font-size: 19px;
  }
}

// Desktop

@media #{$desktop-widths} {
  .textarea-module {
    padding-right: $desktop-small-indent;
  }
  .textarea-module__title {
    width: 175px;
    text-align: center;
  }
}
