.textarea-module__title {
  @include font ($fs-medium, $lh-tiny);
  font-weight: bold;
  color: $base-green;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 25px;
}
.textarea-module__field {
  @include font ($fs-medium, $lh-small);
  color: $text-color;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
