.textarea-module__title {
  @include font ($fs-medium, $lh-tiny);

  padding-bottom: 20px;
  padding-top: 25px;

  font-weight: bold;
  color: $order-form-legend-color;
  text-transform: uppercase;
}
.textarea-module__field {
  @include font ($fs-medium, $lh-small);

  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;

  color: $order-form-text-color-2;
}

//  Tablet

@media #{$tablet-widths} {
  .textarea-module__title {
    position: absolute;
    left: 0;
    top: 67px;

    padding: 0;
  }
  .textarea-module__field {
    width: 500px;

    font-size: 19px;
  }
}

// Desktop

@media #{$desktop-widths} {
  .textarea-module__title {
    left: 60px;
  }
  .textarea-module__field {
    width: 700px;
  }
}
