.video-blog {
  outline: 1px dashed #000;

  @include mobile-indent();

}
.video-blog__title {
  margin: 0;
  margin-top: 30px;
  padding-left: 90px;
  padding-bottom: 26px;

  @include font ($fs-medium, $lh-medium);
  font-weight: bold;

  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-position: 30px 50%;
}
.video-blog__movie {
  height: 150px;

  background-image: url(../img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.video-blog__icon {
  width: 105px;
  height: 80px;
  margin-left: 50%;

  background-image: url(../img/icon-play.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  transform: translateX(-50%);
}
.video-blog__description {
  @include mobile-indent();
  margin: 0;
  margin-top: 35px;

  @include font ($fs-tiny, $lh-medium);
  color: $video-blog-text-color;
}
.video-blog__buy {
  padding-top: 18px;
  padding-bottom: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

//  Tablet

@media #{$tablet-widths} {
  .video-blog {
    position: relative;

    padding: 0;
    padding-top: 455px;
    padding-bottom: 45px;
  }
  .video-blog__title {
    margin-left: 40px;

  }
  .video-blog__description {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 43px;
  }
  .video-blog__movie {
    position: absolute;
    top: 0;

    height: 455px;
    width: 100%;

    background-size: contain;
    background-color: rgba(110, 191, 216, 0.55);
  }
  .video-blog__buy {
    display: block;
    margin: 0 auto;
    width: 580px;
  }
}

//  PK

@media #{$desktop-widths} {
  .video-blog {
    @include clearfix();
    position: relative;

    padding: 0;
  }
  .video-blog__title {
    display: inline-block;
    width: 150px;
    margin: 0;
    margin-left: 80px;
    padding: 0;
    padding-top: 100px;

    vertical-align: top;

    background-position: 0 50%;
  }
  .video-blog__description {
    display: inline-block;
    width: 250px;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0;
    margin-left: 80px;

    font-size: $fs-small;
    vertical-align: top;
  }
  .video-blog__movie {
    position: static;
    float: left;

    height: 455px;
    width: 682px;
  }
  .video-blog__buy {
    display: inline-block;
    margin-left: 80px;
    width: 226px;

    vertical-align: top;
  }
}
