.video-blog {
  padding: 0 0 32px;
  margin: $mobile-indent $mobile-indent 0;

  border: 1px solid $border-color;
  overflow: hidden;
}
.video-blog__title {
  @include font ($fs-medium, $lh-medium);

  margin: 0;
  padding: 26px 10px 23px 90px;

  font-weight: bold;

  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-position: 32px 45%;
}
.video-blog__movie {
  position: relative;
  height: 150px;

  background-image: url(../img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.video-blog__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 105px;
  height: 80px;


  background-image: url(../img/icon-play.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transform: translate(-50%, -50%);
  transition: 0.1s;
  
  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }
  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
  &:focus {
    outline: none;
  }
}
.video-blog__description {
  @include font ($fs-tiny, $lh-medium);

  padding: 26px 40px 25px 33px;
  margin: 0;

  color: $video-blog-text-color;
}
.video-blog__buy {
  display: block;
  width: 192px;
  padding: 16px 20px 16px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 767px) and (min-resolution: 144dpi),
  (max-width: 767px) and (min-resolution: 1.5dppx) {
    .video-blog__movie {
      background-image: url(../img/video-mobile@2x.jpg);
      background-size: 260px auto;
    }
}
//  Tablet

@media #{$tablet-widths} {
  .video-blog {
    position: relative;

    display: flex;
    flex-direction: column;
    margin: 0 $tablet-indent;
    padding: 0 0 45px;
  }
  .video-blog__title {
    padding: 37px 10px 23px 66px;
    margin: 0 40px;

    font-size: 20px;

    background-position: 0px 62%;

  }
  .video-blog__description {
    @include font ($fs-small, $lh-large);
    padding: 9px 40px 35px;
  }
  .video-blog__movie {
    order: -1;
    height: 455px;
    width: 668px;

    background-image: url(../img/video-tablet@1x.jpg);
  }
  .video-blog__buy {

    margin: 0 auto;
    width: 584px;
  }
  @media (min-width: 768px) and (min-resolution: 144dpi),
    (min-width: 768px) and (min-resolution: 1.5dppx) {
      .video-blog__movie {
        background-image: url(../img/video-tablet@2x.jpg);
        background-size: 668px auto;
      }
  }
}

// Desktop

@media #{$desktop-widths} {
  .video-blog {
    width: 100%;
    position: relative;

    padding: 0;
  }
  .video-blog__icon {
    top: 51%;
    left: 51%;
  }
  .video-blog__title {
    display: inline-block;
    width: 150px;
    margin: 0 10px 0 760px;
    padding: 100px 10px 20px 0;

    vertical-align: top;

    background-position: 0 45px;
  }
  .video-blog__description {
    display: inline-block;
    width: 250px;
    padding: 11px 0 46px;
    margin: 0 10px 0 760px;

    font-size: $fs-small;
    vertical-align: top;
  }
  .video-blog__movie {
    position: absolute;
    top: 0;
    left: 0;

    height: 455px;
    width: 682px;

    background-image: url(../img/video-desktop@1x.jpg);
  }
  .video-blog__buy {
    display: inline-block;
    margin-left: 760px;
    margin-bottom: 58px;
    width: 230px;

    vertical-align: top;
  }
  @media (min-width: 1150px) and (min-resolution: 144dpi),
    (min-width: 1150px) and (min-resolution: 1.5dppx) {
      .video-blog__movie {
        background-image: url(../img/video-desktop@2x.jpg);
        background-size: 682px auto;
      }
  }
}
