.video-blog {
  padding: 0 0 $mobile-indent;
  margin: $mobile-indent $mobile-indent 0;
  border: 1px solid $border-color;
}
.video-blog__title {
  @include font ($fs-medium, $lh-medium);

  margin: 0;
  padding: 26px 10px 26px 90px;

  font-weight: bold;

  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-position: 30px 50%;
}
.video-blog__movie {
  position: relative;
  height: 150px;

  background-image: url(../img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.video-blog__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 105px;
  height: 80px;


  background-image: url(../img/icon-play.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  transform: translate(-50%, -50%);
}
.video-blog__description {
  @include font ($fs-tiny, $lh-medium);

  padding: 35px $mobile-indent;
  margin: 0;

  color: $video-blog-text-color;
}
.video-blog__buy {
  display: block;
  width: 192px;
  padding: 16px 20px 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

//  Tablet

@media #{$tablet-widths} {
  .video-blog {
    position: relative;
    margin: 0 $tablet-indent;
    padding: 455px 0 45px;
  }
  .video-blog__title {
    font-size: 20px;
    margin: 0 40px;

  }
  .video-blog__description {
    @include font ($fs-small, $lh-large);
    padding: 0 40px 43px;
  }
  .video-blog__movie {
    position: absolute;
    top: 0;

    height: 455px;
    width: 100%;

    background-size: contain;
    background-color: rgba(110, 191, 216, 0.55);
  }
  .video-blog__buy {

    margin: 0 auto;
    width: 584px;
  }
}

// Desktop

@media #{$desktop-widths} {
  .video-blog {
    @include clearfix();

    position: relative;

    padding: 0;
  }
  .video-blog__title {
    display: inline-block;
    width: 150px;
    margin: 0 10px 0 80px;
    padding: 100px 10px 20px 0;

    vertical-align: top;

    background-position: 0 45px;
  }
  .video-blog__description {
    display: inline-block;
    width: 250px;
    padding: 20px 0 50px;
    margin: 0 10px 0 80px;

    font-size: $fs-small;
    vertical-align: top;
  }
  .video-blog__movie {
    position: relative;
    float: left;

    height: 455px;
    width: 682px;
  }
  .video-blog__buy {
    display: inline-block;
    margin-left: 80px;
    width: 226px;

    vertical-align: top;
  }
}
